/* Add a grid layout using grid-template-areas */
body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-gap: 10px;
    grid-template-rows: auto;
}

/* Style the semantic tags: header, footer, nav, main */
header {
  grid-area: 1 / 1/ 1/ 4;
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}

nav {
  grid-area: 2 / 1 / 2 / 1;
  background-color: #444;
  text-align: down;
  padding: 10px;
}

nav li {
    display: inline;
}

nav ul li a {
  font-style: italic;
  color: white;
  text-decoration: none;
}

/*  hover effect to navigation links */
nav ul li a:hover {
  color: red; 
}


main {
  grid-area: 2 / 2 / 2 / 2; 
    padding: 20px;
  background-color: gray;
} 


aside{
  grid-area: 2 / 3 / 2 / 3; 
  background-color: #444;
  padding: 10px;
}

footer {
  grid-area: 4 / 1 / 4 / 4; 
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 10px;
}



/* Write styles for body, h1, p, img, ol, li, ul, table, th, td */
body {
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    color: #333; 
    margin: 0;
}

h1 {
    font-size: 2em; 
    color: #444; 
}

h2 {
    font-size: 2em; 
    color: white; 
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #000; 
    color: #fff; 
    padding: 10px;
    font-size: 1.5em; 
}
td {
    border: 1px solid #fff; /* Add borders to table cells */
    padding: 10px;
    font-size: 1em; 
}
ol:nth-child(odd) li {
    background-color: #f5f5f5; 
}


/* media Queries */
@media screen and (max-width: 500px) {
  body {
    background-color: tan;
  }
  header {
    grid-area: 1 / 1/ 1/ 4;
    background-color: #5e057e;
    color: #c299d0;
  }
  nav {
    grid-area: 2 / 1/ 2/ 4;
    background-color: #5e057e;
  }
  nav ul li a {
    color: #c299d0;
  }
  main {
    grid-area: 3 / 1/ 3/ 4;
    background-color: #5e057e;
    color: #c299d0;
  }
  aside {
    grid-area: 4 / 1/ 4/ 4;
    background-color: #5e057e;
    color: #c299d0;
  }
  footer {
    grid-area: 5 / 1/ 5/ 4;
    background-color: #5e057e;
    color: #c299d0;
  }
  h1 {
      font-size: 2em; 
      color:#c299d0 ; 
  }

  h2 {
      font-size: 2em; 
      color: #c299d0; 
  }
  ol:nth-child(odd) li {
      background-color: #46037c; 
  }
  th {
      background-color: #000; 
      color: #c299d0; 
      padding: 10px;
      font-size: 1.5em; 
  }
}
